@media only screen and (min-width: 1600px) {
    .container-fluid {
      padding-right: 150px;
      padding-left: 150px;
    }
  }
  
  
  .navbar {
    transition: all 0.5s ease;
    padding: 0;
    background-color: transparent !important;
    position: sticky;
    top: 0;
    z-index: 2;
  
    .logo {
      .logo-light {
        display: none;
      }
  
      .logo-dark {
        display: inline-block;
      }
    }
  
    .navbar-nav {
      .nav-link {
        color: $dark;
        font-size: 13px;
        background-color: transparent;
        padding: 28px 25px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        position: relative;
        font-weight: 700;
  
        &:hover,
        &:active,
        &.active {
          color: $base-blue;
        }
      }
    }
  
    .navbar-brand {
      color: $base-blue;
      font-weight: 600;
      font-size: 26px;
  
      span {
        color: $black;
        font-weight: 800;
      }
    }
  
    .navbar-toggler {
      padding: 0px;
      border: none;
      font-size: 24px;
  
      &:focus {
        box-shadow: none;
      }
    }
  
    .header-item {
      color: $dark;
      transition: all 0.5s ease;
    }
  
  }
  
  @media (max-width: 992px) {
    .navbar-nav {
      .dropdown {
        .dropdown-menu {
          border: none;
          box-shadow: none;
          margin-top: 0;
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .dropdown {
      position: static;
  
      // .dropdown-menu {
      //   left: 10px;
      //   right: 10px;
      // }
    }
  }
  
  .navbar-light{
    .nav-item{
      .nav-link{
        color: rgba($white, 0.5) !important;
        &:hover,
        &:focus,
        &.active{
          color: $white !important;
        }
      }
    }
  
    .logo{
      .logo-light{
        display: block;
      }
      .logo-dark{
        display: none ;
      }
    }
  
    @media (max-width:992px) {
      .logo{
        .logo-light{
          display: none;
        }
        .logo-dark{
          display: block ;
        }
      }
    }
  }
  
  .nav-sticky {
    &.navbar-light{
    
      .nav-item{
        .nav-link{
          color: $dark !important;
          &:hover,
          &:focus,
          &.active{
            color: $base-blue !important;
          }
        }
      }
  
      .logo{
        .logo-light{
          display: none !important;
        }
        .logo-dark{
          display: block !important ;
        }
      }
    }
  }
  
  
  @media (min-width:992px) and (max-width:1200px) {
    .navbar .navbar-nav .nav-link {
      padding: 25px 15px;
    }
  }
  
  @media (max-width: 992px) {
    .navbar {
      padding: 14px 0;
  
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 8px 15px;
          }
        }
      }
    }
  }

  @media (min-width: 200px) and (max-width: 1024px) {
    .navbar-custom {
      margin-top: 0px;
      padding: 10px 0px !important;
  
      .navbar-nav {
        margin-left: 0px;
  
        li {
          &.active {
            border-color: transparent;
          }
  
          a {
            transition: all 0.4s;
            margin: 6px;
            color: $dark !important;
            padding: 6px 0;
          }
        }
      }
  
      >.container {
        width: 90%;
      }
    }
  
    // navbar-white
    .navbar-white {
      .navbar-toggler {
        color: $dark !important;
      }
    }
  
    .navbar-custom .navbar-nav li.active a,
    .navbar-custom .navbar-nav li a:hover,
    .navbar-custom .navbar-nav li a:active {
      color: $base-blue !important;
    }
  
    .navbar-toggler {
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 0px;
  
      &:focus {
        box-shadow: none;
      }
    }
  
    .carousel-indicators {
      right: 0;
    }
  
    .logo .logo-light {
      display: none;
    }
  
    .logo .logo-dark {
      display: inline-block;
    }
  }